.about-us-god {
  padding: 0 20px;
}

.heading-about {
  background: linear-gradient(
      45deg,
      rgba(44, 44, 44, 0.25),
      rgba(44, 44, 44, 0.25)
    ),
    url(../Assets/bg-about.jpg);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 10px 10px 80px 10px rgba(44, 44, 44, 0.45);
}

.heading-about p {
  color: white;
  text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
  font-size: 80px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: -3px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.main-heading {
  background: #e4c435;
}

.main-heading h1 {
  position: relative;
  padding: 200px;

  font-size: 120px;
  letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-shadow: 8px 8px var(--primary), 20px 20px #000000;
}

.hheadd {
  height: auto;
  background: transparent;
  font-family: "Red Hat Display", sans-serif;
  padding-top: 100px;
}

.hheadd h1 {
  font-size: 5vw;
  max-width: 75vw;
  color: black;
  transition: all 0.4s ease;
}
.hheadd h1 span {
  background-image: linear-gradient(transparent calc(75% - 10px), grey 5px);
  background-size: 0;
  background-repeat: no-repeat;
  display: inline;
  transition: 0.5s ease;
  transition: all 0.4s ease;
}
.hheadd h1:hover span {
  background-size: 100%;
}

.sec1 {
  text-align: left;
  margin-left: -10px;
  padding-top: 50px;
}

.image-container {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 70vh;
}

.image-box {
  flex: 1;
  overflow: hidden;
  transition: 0.5s;
  margin: 0 2%;
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.4);
  line-height: 0;
}

.image-box > img {
  width: 200%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: 0.5s;
}

.image-box:hover {
  flex: 1 1 60%;
}

.image-box:hover > img {
  width: 100%;
  height: 100%;
}
