
  
  .heading-edit {
  
    background: linear-gradient(45deg, rgba(44, 44, 44, 0.25), rgba(44, 44, 44, 0.25)), url(../Assets/bg-editprofile.jpg);
    height: 100vh; 
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 10px 10px 80px 10px rgba(44, 44, 44, 0.45);
  }
  
  .heading-edit p {
    color: white;
    text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
    font-size: 80px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: -3px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

.add-package-form {
    margin-top: 40px;
}

.add-package-form-section {
    margin-left: 48px;
    margin-right: 24px;
    text-align: left;
    margin-top: 24px;
}

.form-add-package {
    text-align: left;
    align-items:flex-start ;
    padding: 0 !important;
    margin-left: 28px;
}

.add-package-form-group {
    width: 80%;
    text-align: left;
    margin-top: 16px;
}

.inline-button {
    display: inline;
    margin: 8px 8px 8px 0px;
    background-color: #33332e !important;
    border: none !important;
    color: rgb(255, 255, 255) !important;
}

.itinerary-input {
    margin-top: 8px;
}

.add-package-button {
    width: 200px;
    background-color: #3a3a35 !important;
    border: none !important;
    color: rgb(255, 255, 255) !important;
}
    