.hometext-god{
    padding-bottom: 50px;
    
}

.headings-aks {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .headings-aks h1 {
    font-size: 40px;
  }
  
  .soul {
    cursor: pointer;
    position: relative;
    white-space: nowrap;
  }
  
  .soul::before,
  .soul::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
  }
  
  .soul::before {
    content: '';
  }
  
  .regaltoss {
    font-size: 1.375rem;
    color: white;
  }
  
  .regaltos::before {
    transform-origin: 50% 100%;
    transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
    clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
  }
  
  .regaltos:hover::before {
    transform: translate3d(0, 2px, 0) scale3d(1.08, 3, 1);
    clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 50% 100%, 0 100%, 100% 100%, 100% 0%);
  }
  
  .regaltos span {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
  }
  
  .regaltos:hover span {
    transform: translate3d(0, -2px, 0);
  }

  .photuu img{
      height: 400px;
      width: 550px;
  }

  .headdd {
    display: grid;
    place-content: center;
    height: auto;
    background: #222222;
    font-family: "Red Hat Display", sans-serif;
  }
  
  .headdd h1 {
    font-size: 5vw;
    max-width: 75vw;
    color: white;
    transition: all .4s ease;
  }
  .headdd h1 span {
    background-image: linear-gradient(transparent calc(75% - 10px), grey 5px);
    background-size: 0;
    background-repeat: no-repeat;
    display: inline;
    transition: 0.5s ease;
    transition: all .4s ease;
  }
  .headdd h1:hover span {
    background-size: 100%;
  }
  .captionn{
    color: white;
  }