.carousel-item {
    height: 100vh;
    width: 100%;
}

.carousel-title {
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    color: var(--white);
    text-align: center;
    padding-top: 300px;
    font-weight: bolder !important;
}

.carousel-subtitle {
    font-family: 'Poppins', sans-serif;
    color: var(--white);
    text-align: center;
    font-size: 30px;
    padding-top: 40px;
    font-weight: bolder !important;
}

.item-one {
    background-image: url(../Assets/Landing/p1.jpg);
    background-size: cover;
    background-position: right;
    /* opacity: 0.85; */
}
.item-two {
    background-image: url(../Assets/Landing/p2.jpg);
    background-size: cover;
    background-position: center;
    /* opacity: 0.85; */
}

.item-three {
    background-image: url(../Assets/Landing/p3.jpg);
    background-size: cover;
    background-position: left;
    /* opacity: 0.85; */
}
.item-four {
    background-image: url(../Assets/Landing/p4.jpg);
    background-size: cover;
    background-position: left;
    /* opacity: 0.85; */
}

@media screen and (max-width: 1080px) {
    .carousel-item {
        height: 460px;
    }

    .carousel-title {
        padding-top: 140px;
        font-size: 70px !important;
    }

    .carousel-subtitle {
        font-size: 24px !important;
        opacity: 0;
    }
}