.loading-screen-main {
    height: 100vh;
    width: 100%;
    background-color: var(--primary-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.loading-screen-title {
    font-family: var(--sans-serif);
    color: white;
    font-size: 64px;
    font-weight: bolder;
}

.loading-screen-main p {
    font-family: var(--sans-serif);
    color: white;
    font-size: 24px;
}

.loading-screen-spinners-div {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
}

.loading-screen-spinner {
    color: white;
    margin: 6px;
}